# Configuration file for PHPStan static code checking, see https://phpstan.org .
includes:
  - phpstan-baseline.neon

parameters:
  level: 5

  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"
